#jinja2: trim_blocks: True, lstrip_blocks: True
machines = {
{% for host in groups['lab'] %}
  {{ host }} = {
    hostname                            = "{{ host }}"
    architecture                        = "{{ hostvars[host].hw_cpu_architecture }}"
    domain                              = "{{ hostvars[host].domain }}"
    distro_series                       = "{{ hostvars[host].sw_os_codename }}"
    main_nic_name                       = "{{ hostvars[host].hw_network_main_interface_name }}"
    pxe_mac_address                     = "{{ hostvars[host].hw_network_main_interface_mac_address }}"

    # Main NVMe disk (for system + empty LVM)
    main_nvme_disk_model                = "{{ hostvars[host].hw_storage_main_nvme_disk_model }}"
    main_nvme_disk_serial               = "{{ hostvars[host].hw_storage_main_nvme_disk_serial }}"
    main_nvme_disk_device_name          = "{{ hostvars[host].hw_storage_main_nvme_disk_device_name }}"
    main_nvme_disk_size                 = {{ hostvars[host].hw_storage_main_nvme_disk_size }}
    main_nvme_disk_efi_partition_size   = {{ hostvars[host].hw_storage_main_nvme_disk_gpt_efi_partition_size }}
    main_nvme_disk_root_partition_size  = {{ hostvars[host].hw_storage_main_nvme_disk_gpt_root_partition_size }}
    main_nvme_disk_log_partition_size   = {{ hostvars[host].hw_storage_main_nvme_disk_gpt_log_partition_size }}
    main_nvme_disk_lvm_partition_size   = {{ hostvars[host].hw_storage_main_nvme_disk_gpt_lvm_partition_size }}

    main_nvme_disk_lvm_partition_detail = [
    {% for part in hostvars[host].hw_storage_main_nvme_disk_lvm_partitions %}
      {
        name       = "{{ part.name }}"
        size       = {{ part.size }}
        mount_path = "{{ part.mount_path }}"
        filesystem = "{{ part.filesystem }}"
      }{% if not loop.last %},{% endif +%}
    {% endfor %}
    ]

    extra_disks = [
    {% for disk in hostvars[host].hw_storage_extra_disks %}
      {
        model       = "{{ disk.model }}"
        {#serial      = "{{ disk.serial }}"#}
        serial      = "{{ hostvars[host].hw_storage_extra_disks_serials[disk.device_name] | default('') }}"
        device_name = "{{ disk.device_name }}"
        size        = {{ disk.size }}
        tags        = [{% for t in disk.tags %}"{{ t }}"{% if not loop.last %}, {% endif %}{% endfor %}]
        lvm_partition_detail = [
    {%   for p in disk.lvm_partition_detail %}
          {
            name       = "{{ p.name }}"
            size       = {{ p.size }}
            mount_path = "{{ p.mount_path }}"
            filesystem = "{{ p.filesystem }}"
          }{% if not loop.last %},{% endif +%}
    {%   endfor %}
        ]
      }{% if not loop.last %},{% endif +%}
    {% endfor %}
    ]

    {# main_nvme_disk_lvm_partition_detail = {{ hostvars[host].hw_storage_main_nvme_disk_lvm_partitions | to_nice_json(indent=6) }}
    extra_disks = {{ hostvars[host].hw_storage_extra_disks | to_nice_json(indent=6) }} #}
  },
{% endfor %}
}